{
"username": "Twitch_username_here",
"key": "oauth:23213123213"
}

Go to http://www.twitchapps.com/tmi/ To generate your key.
credentials.json added to .gitignore, you will need to create your own...
